{% extends 'main/base.html' %}

{% block title %}
Создание Задачи
{% endblock %}

{% block content %}
    <h1>Создать задачу</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}<br>
        <button type="submit" class="btn btn-success">Добавить</button>
        {% if img_obj %}
              <h3>Succesfully uploaded : {{img_obj.title}}</h3>
              <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:1080px">
            {% endif %}
        <span>{{ error }}</span>
    </form>
{% endblock %}